* {
  margin: 0;
  padding: 0;
  position: relative;
}
.page {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #c93434;
  width: 100%;
  height: 60px;
  margin: 0px;
}
.left {
  border-radius: 50%;
  padding-left: 120px;
  padding-top: 4px;
}

li {
  display: inline;
}
li a {
  text-decoration: none;
  color: white;
  padding: 12px;
}

#ac {
  border: 1px solid white;
  padding: 8px;
}
h1 {
  background-color: white;
  /* display: block; */
  width: 80px;
  /* border-radius: 50%; */
  /* padding-left: -2px; */
  height: 58px;
  color: crimson;
  font-size: 40px;
  display: inline;
  padding-top: 0px;
  margin-top: 45px;
  margin-bottom: 16px;
  margin-top: 9px;
  border-radius: 50%;
}

#account{
  border: 1px solid white;
  padding: 12px;
}
.right {
  display: inline;
  float: right;
  padding-top: 15px;
  margin-top: -45px;
  margin-right: 105px;
}
.filter-box {
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 470px;
  margin-left: 123px;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0 5px 10px #808080;
}
#heading {
  padding-left: 123px;
  color: rgb(16, 9, 126);
  font-size: 32px;
  padding-top: 23px;
  font-weight: bold;
}

#header {
  margin-top: 20px;
}
select {
  padding-left: opx;
  margin-left: 23px;
  margin-top: 12px;
}
.cusine {
  padding-left: 25px;
  padding-top: 12px;
}

.h3-head{
  padding: 12px;
}
.h4-head{
  padding-bottom: 6px;
}
.radio-button {
  padding-left: 25px;
  padding-top: 12px;
}
.Sort{
  padding-left: 25px;
  padding-top: 12px;

}
.option {
  /* background-color: orangered; */
  width: 845px;
  height: 470px;
  position: absolute;
  bottom: 0px;
  left: 260px;
  /* box-shadow: 0 5px 10px #808080; */
}
.option1 {
  /* background-color: red; */
  width: 845px;
  height: 235px;
  box-shadow: 0 5px 10px #808080;
}

.option2 {
  /* background-color: rgb(129, 199, 0); */
  width: 845px;
  height: 235px;
  box-shadow: 0 5px 10px #808080;
}
#img1 {
  height: 90px;
  width: 110px;
  border-radius: 15px;
  margin-top: 30px;
    margin-left: 32px;
}
#img2 {
  height: 90px;
  width: 110px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 15px;
}
#op1 {
  padding-left: 166px;
  padding-bottom: 212px;
  margin-top: -91px;
  font-size: 30px;
}
.lefti {
  width: 20%;
}
.righty {
  width: 80%;
}
/* end here */
.heading1 {
  margin-top: -445px;
    position: relative;
    box-shadow: 0px 3px 16px #00000029;
    margin-left: 250px;
    width: 873px;
    height: 260px;
    margin-bottom: 309px;
}

.foodstore {
  position: relative;
  box-shadow: 0px 3px 16px #00000029;
  left: 250px;
  width: 873px;
  height: 260px;
  bottom: 280px;
}
.top1{
    position: relative;
    left: 190px;
    bottom: 100px;
    font-size: 26px;
    font-weight: bold;
}

.top2{
  bottom: 72px;
    right: 50px;
    font-weight: bold;
    font-size: 15px;


}

.top3{
  bottom: 45px;
  right: 97px;
  font-weight: bold;
  font-size: 18px;

}
.cusine-bakery{
     margin: 54px;
    font-size: 16px;
    font-weight: bold;
}

.COST{
  margin: 28px;
  font-size: 16px;
  font-weight: bold;

}

















.top4{
  position: relative;
  left: 180px;
  bottom: 100px;
  font-size: 26px;
  font-weight: bold;
}

.top5{

  font-weight: bold;
  font-size: 15px;
  bottom: 75px;
    left: 12px;


}

.top6{
  bottom: 50px;
  right: 35px;
font-weight: bold;
font-size: 18px;

}
.cusine-bakery{
   margin: 54px;
  font-size: 16px;
  font-weight: bold;
}

.COST{
margin: 28px;
font-size: 16px;
font-weight: bold;

}

.linkpoint{
  position: relative;
  text-decoration: none;
  outline-style: solid;
  top: -231px;
  left: 546px;
  border-radius: 1px;
  outline-color: black;
  outline-offset: 4px;
  outline-width: thin;
  text-decoration: none;
}












































































































































































































































































/* * .head2 img {
  border-radius: 30px;
  height: 95px;
  width: 103px;
  margin-top: 10px;
  margin-left: 23px;
}

.min1 {
  font-weight: bold;
  margin-left: 190px;
  margin-top: -103px;
  color: #192f60;
  font-size: 39px;
  display: inline;
} */ */
/* .end2 {
  margin-left: 190px;
  margin-top: -24px;
  color: #192f60;
}
#end {
  margin-left: 160px;
  margin-top: 55px;
  color: #192f60;
  position: relative;
  top: -60px;
  display: inline;
  left: -9px;
}
.store1 {
  margin-left: 34px;
  margin-top: 18px;
  color: #192f60;
  width: 93%;
}
.food2 {
  margin-top: 19px;
  margin-left: 32px;
}
.food3 {
  margin-top: -56px;
  margin-left: 183px;
}
.price4 {
  margin-top: 19px;
  margin-left: 183px;
}
.flex-container {
  list-style-type: none;
  display: flex;
  margin-top: -229px;
  margin-left: 557px;
  padding: 10px;
  border: 1px solid grey;
  text-decoration: none;
}

#min {
  margin-top: -82px;
  margin-left: 172px;
  position: absolute;
  top: -8px;
  left: -20px;
  color: #4343c7;
}
#min1 {
  margin-top: -50px;
  margin-left: 173px;
  position: absolute;
  top: -8px;
  left: -17px;
  color: #4343c7;
}

#end2 {
  margin-left: 160px;
  margin-top: 53px;
  color: #192f60;
  position: relative;
  top: -30px;
  display: inline; 
}
/* h1 {
  display: inline;
  padding-top: 0px;
  margin-top: 45px;
  margin-bottom: 12px;
  margin-top: 12px;
}
#thebigchil32 {
  display: inline;
  padding-top: 22px;
  margin-top: 45px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 140px;
  position: relative;
  top: -65px;
  left: 11px;
  color: #383893;
}
#combine {
  display: inline;
  padding-top: 22px;
  margin-top: 45px;
  margin-bottom: 12px;
  margin-top: 12px;
  position: absolute;
  top: 108px;
}
#mainhead1 {
  position: absolute;
  top: -86px;
  left: 150px;
}
#mainhead2 {
  position: absolute;
  top: -86px;
  left: 150px;
}
#thebigchi133 {
  margin-top: -82px;
  margin-left: 172px;
  position: absolute;
  top: 25px;
  left: -20px;
  color: #4343c7;
}
#thebigchil134 {
  display: inline;
  padding-top: 22px;
  margin-top: 45px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 140px;
  position: relative;
  top: -30px;
  left: 11px;
  color: #383893;
}

#location{
  color: rgb(62, 62, 129);
   padding-left: 25px; 
   font-weight: 500;
}

#h3-head{
  font-weight: bold; 
  padding-top: 15px; 
  color: rgb(16, 16, 100);
   padding-left: 25px;
    padding-bottom: 8px;
} */
